.our-brand-logo {
  padding-top: 0;
  padding-bottom: 50px;

  background-color: #ffffff;
}

.brand-logo{
    display: flex;
}

.our-brand-logo .branlogo-wrap {
  margin: 0 auto;
}

.our-brand-logo .brand-logo .brand-img {
  text-align: center;
}

.our-brand-logo .brand-logo a img {
  filter: grayscale(1);
  opacity: 0.5;
  width: 65%;
  text-align: center;
  margin: 0 auto;
}

.our-brand-logo .brand-logo a:hover img {
  filter: grayscale(0.1);
  opacity: 1;
}

.our-brand-logo .brand-logo a img,
.our-brand-logo .brand-logo a:hover img {
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.footer-top-area {
  background-image: url('../images/Footer-bg.png');
  padding-top: 100px;
  padding-bottom: 70px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.footer-list-wrap ul.footer-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 70px;
}

.footer-list-wrap ul.footer-list li.ftlink-li {
  width: 37.5%;
}

.footer-list-wrap ul.footer-list li.ftlink-li.linklist {
  width: 25%;
}

.footer-list-wrap ul.footer-list li.ftlink-li {
  width: 37.5%;
}

/* .footer-list-wrap ul.footer-list li.ftlink-li ul.footer-sublist {
    margin-top: -15px;
} */

.footer-list-wrap
  ul.footer-list
  li.ftlink-li
  ul.footer-sublist
  li.ftsublink-li {
  position: relative;
  padding-left: 15px;
  margin-top: 15px;
}

.footer-list-wrap
  ul.footer-list
  li.ftlink-li
  ul.footer-sublist
  li.ftsublink-li
  a {
  font-size: 16px;
  position: relative;
}

.footer-info a img {
  width: 60%;
  margin-bottom: 20px;
}

.footer-list-wrap .ftlink-li.newsletter h6 {
  font-size: 20px;
  line-height: 1;
}

.footer-list-wrap .ftlink-li .news-content {
  margin-top: 27px;
}

.footer-list-wrap .ftlink-li .news-content .subscribe-block {
  display: flex;
}

.footer-list-wrap .ftlink-li .news-content .subscribe-block input {
  width: 100%;
  background-color: #f2f2f2;
  border: 0;
}

.footer-list-wrap .ftlink-li .news-content .subscribe-block input {
  background-color: #fff !important;
}

.btn-style-medium,
.btn-style {
  background-color: #275c53;
  border: 2px solid #275c53;
}

.btn-style-medium {
  color: #fff;
  font-size: 16px;
  padding: 15px 40px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border-radius: 0;
  line-height: 1;
}

.footer-list-wrap .ftlink-li.newsletter h6 {
  font-size: 20px;
  line-height: 1;
}

.footer-list-wrap .ftlink-li .payment-icon {
  margin-top: 30px;
}

@media (max-width: 992px) {
  .footer-list-wrap ul.footer-list li.ftlink-li.linklist,
  .footer-list-wrap ul.footer-list li.ftlink-li {
    width: 100%;
    text-align: center;
  }

  .footer-list-wrap ul.footer-list li.ftlink-li.newsletter,
  .footer-list-wrap ul.footer-list li.ftlink-li.linklist {
    margin-top: 35px;
  }

  .footer-list-wrap ul.footer-list li.ftlink-li ul.footer-sublist {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer-list-wrap
    ul.footer-list
    li.ftlink-li
    ul.footer-sublist
    li.ftsublink-li {
    margin-right: 27px;
    padding: 0;
  }

  .footer-list-wrap ul.footer-list li.ftlink-li ul.footer-sublist {
    margin-top: -15px;
  }

  .our-brand-logo {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .our-brand-logo {
    padding-top: 60px;
    padding-bottom: 40px;
  }
}
