
.header_area {
  background-color: #ffffff;
  position: relative;
  padding-left: 140px;
  padding-right: 140px;
}

.header_area .header_main {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

.header_area .header_main .header_element.logo {
  width: 20%;
}

.header_area .header_main .header_element.logo img {
  width: 70%;
}

.header_area .header_main .header_element.megamenu-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-area .header-main .header-element.megamenu-content {
  width: 80%;
}

.megamenu-content .mainwrap {
  width: 100%;
}

.megamenu-content .mainwrap ul.menu {
  display: flex;
  align-items: center;
}

.megamenu-content .mainwrap ul.menu li.menu-item {
  list-style: none;
}

.megamenu-content .mainwrap ul.menu li.menu-item a {
  display: flex;
  align-items: center;
  padding: 40px 0;
  margin-right: 50px;
  text-transform: capitalize;
  font-size: 18px;
  letter-spacing: 1px;
  white-space: nowrap;
  text-decoration: none;
  font-family: Josefin Sans, sans-serif;
}

.bar--logo,
.mobile_view {
  display: none;
}

@media (max-width: 1599px) {
  .header_area {
    padding-left: 60px;
    padding-right: 60px;
  }

  .megamenu-content .mainwrap ul.menu li.menu-item a {
    margin-right: 30px;
  }
}

@media (max-width: 992px) {
  .header{
      padding: 15px 0;
  }
  
  .header-element.megamenu-content {
    display: none;
  }

  .bar--logo,
  .mobile_view,
  .header_area .row {
    display: block;
  }

  .header_area .header_main .header_element.logo {
    width: 50%;
  }

  .menu-bar {
    font-size: 32px;
  }

  .mobile_view {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    overflow-y: auto;
    background-color: #fff;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out 0s;
  }

  .mobile_view.active {
    left: 0;
    opacity: 1;
    visibility: visible;
    transition: all .3s ease-in-out 0s;
  }

  .mobile_view ul {
    margin: 0;
  }

  .mobile_view .menu li {
    list-style: none;
    padding: 10px 15px;
  }

  .mobile_close {
    display: block;
    padding: 10px 15px;
    text-align: right;
    font-size: 32px;
  }

  .header_area{
    padding-left: 30px;
    padding-right: 30px;
  }

  .header_area.container{
    max-width: 100%;
  }
}

@media (max-width:768px){
  .header_area{
    padding-left: 8px;
    padding-right: 8px;
  }

  .header_area .site-branding{
    width: 235px;
  }
}