/* Hero Banner */
.hero-section .main_image {
    position: relative;
    display: flex;
    align-items: center;
}

.slider-text-info {
    position: absolute;
    left: 15%;
}

.sub-heading{
    color: #e2bb53;
    font-size: 24px;
    line-height: 1;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    display: inline-block;
}

.hero-section h2{
    color: #ffffff;
    font-size: 100px;
    font-weight: 700;
    margin-top: 30px;
    line-height: 1;
    font-family: 'Josefin Sans', sans-serif;
}

.hero-section .slider-text-info h2 span:last-child {
    font-size: 20px;
    width: 44%;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-top: 10px;
    display: block;
}

.slider-text-info .hero_btn {
    margin-top: 32px;
}

.btn-style3 {
    font-size: 16px;
    padding: 15px 40px;
    text-transform: uppercase;
    letter-spacing: .5px;
    border-radius: 0;
    line-height: 1;
    border: 2px solid #e2bb53;
    color: #e2bb53;
    background-color: transparent;
    font-family: Open Sans,sans-serif;
    text-decoration: none;
}

.btn-style3:hover {
    color: #fff;
    background-color: #275c53;
    border-color: #275c53;
}


/* Right Block or Left Block */
.banner_block{
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.banner-grid.banner1 {
    display: flex;
}

.banner1 {
    padding-top: 0px;
    padding-bottom: 0px;
}

.banner-block{
    overflow: hidden;
    position: relative;
}

.banner-grid.banner1 .banner-block:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, .6);
}

.banner-block .img-fluid{
    max-width: 100%;
    height: 100%;
    vertical-align: middle;
    border-style: none;
    transition: all 300ms linear;
}

.banner-grid.banner1 .banner-block:hover img {
    transform: scale(1.1);
}

.banner-block .banner-content.banner-text-left {
    text-align: left;
}

.banner-block .banner-content{
    width: 40%;
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    z-index: 1;
    left: 60px;
}

.banner-block .banner-content h2{
    font-size: 44px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 1px;
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
}

.banner-block .banner-content a.btn {
    margin-top: 22px;
}

.btn-style2 {
    color: #fff;
    font-size: 14px;
    padding: 10px 20px;
    letter-spacing: 0px;
    text-transform: uppercase;
    border-radius: 0;
    line-height: 1;
    display: inline-block;
    background-color: #e2bb53;
    border: 2px solid #e2bb53;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-style2:hover{
    background-color: #275c53;
    border: 2px solid #275c53;
    color: #fff;
    text-decoration: none;
}

/* Media Querries */
@media (max-width: 1599px) and (min-width: 1200px){
    .hero-section h2 {
        font-size: 70px;
    }
}

@media(max-width:1200px){
    .hero-section h2 {
        font-size: 50px;
    }
}

@media(max-width:992px){
    .hero-section h2 {
        font-size: 40px;
        margin-top: 20px;
    }

    .hero-section .slider-text-info h2 span:last-child {
        width: 60%;
    }

    .banner-grid.banner1 {
        flex-direction: column;
    }
}

@media(max-width:768px){
    .hero-section .main_image img{
        height: 400px;
        object-fit: cover;
    }

    .slider-text-info {
        left: 3%;
    }

    .hero-section .slider-text-info h2 span:last-child {
        width: 75%;
    }
}