/* breadcrumb details  */
.breadcrumb-area {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #000000;
  position: relative;
}

.breadcrumb-area {
  background-image: url('../images/breadcrumb.jpg');
  position: relative;
  background-position: center;
}

.breadcrumb-area .breadcrumb-title {
  margin-bottom: 15px;
  font-size: 50px;
  color: #fff;
}

.breadcrumb-area .breadcrumb-title {
  margin-bottom: 15px;
  font-size: 50px;
}

.breadcrumb-area::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.2;
}

ul.breadcrumb-list {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 4px;
}

.breadcrumb-area ol li,
.breadcrumb-area ol li a{
  display: inline-block;
  color: #ffffff;
  font-size: 20px;
}

ul.breadcrumb-list li {
  position: relative;
}

ul.breadcrumb-list li::after {
  content: "\e649";
  font-family: "themify";
  display: flex;
  align-items: center;
  margin: 0 5px;
  font-size: 10px;
  color: #fff;
}

ul.breadcrumb-list li:last-child::after {
  display: none;
}

ul.breadcrumb-list li.breadcrumb-item + li.breadcrumb-item {
  padding-left: 0;
}

ul.breadcrumb-list li.breadcrumb-item + li.breadcrumb-item::before {
  content: "";
  display: block;
  padding-right: 0;
}

ul.breadcrumb-list li a {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
}

ul.breadcrumb-list li span {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
}

/* Main -> Admin Tabs */
ul.page-tabs {
  margin: 0 0 0.6rem 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-tabs li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0;
  width: 100px;
  margin-right: 16px;
}

.page-tabs li a{
  justify-content: center;
}

.page-tabs li:first-child a {
  color: #fff;
  padding: 5px 10px;
  background-color: #275c53;
  border: 1px solid #275c53;
  text-transform: capitalize;
}

.page-tabs li:first-child:hover a{
  color: #275c53;
  background-color: #fff;
}

.page-tabs li:not(:first-child) a {
  padding: 5px 10px;
  color: #275c53;
  background-color: #fff;
  border: 1px solid #275c53;
  text-transform: capitalize;
}

.page-tabs li:not(:first-child):hover a {
  color: #fff;
  padding: 5px 10px;
  background-color: #275c53;
  border: 1px solid #275c53;
}

/* node submitted details 
.node-submitted-details {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.node-submitted-details {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
} */


/* node content  */
.node-content h1,
.node-content h2,
.node-content h3,
.node-content h4,
.node-content h5,
.node-content h6{
  margin: 1rem 0;
}

.node-header .post-info {
  margin-top: 25px;
}

.node-header .post-info blockquote {
  padding: 15px;
  margin-bottom: 0;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-left: 2px solid #275c53;
}

.node-header .post-info blockquote i {
  color: #275c53;
  font-size: 30px;
}

.node-header .post-info blockquote h2 {
  font-size: 16px;
  display: flex;
  margin-top: 14px;
  text-transform: uppercase;
  line-height: 1;
}

.node-header .post-info blockquote ul {
  display: flex;
  margin-top: 8px;
}

.node-header .post-info blockquote ul li {
  display: flex;
  align-items: center;
  margin-right: 15px;
  font-style: normal;
}

.node-header .post-info blockquote ul li:last-child {
  margin-right: 0px;
}

.node-header .post-info blockquote ul li {
  display: flex;
  align-items: center;
  margin-right: 15px;
  font-style: normal;
}

.node-header .post-info blockquote ul li i, .single-blog-area .post-info blockquote ul li span {
  font-size: 14px;
}

.node-header .post-info blockquote i {
  color: #275c53;
  font-size: 30px;
}

.node-header .post-info blockquote ul li span {
  margin-left: 5px;
}

.node-header .post-info blockquote ul li:last-child {
  margin-right: 0px;
}

.node-header .post-info blockquote ul li span.comment-count {
  margin-left: 2px;
}


/* node tags  */
.node-header .post-info-tag {
  margin-top: 25px;
}

.node-header .post-info-tag ul {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.node-header .post-info-tag ul li {
  margin: 5px 5px 0 0px;
}

.node-header .post-info-tag ul li:hover a {
  color: #275c53;
  background-color: #fff;
}

.node-header .post-info-tag ul li a {
  color: #fff;
  padding: 5px 10px;
  background-color: #275c53;
  border: 1px solid #275c53;
  text-transform: capitalize;
}

/* collection category  */
.collection-category {
  padding-top: 100px;
  padding-bottom: 60px;
}

.collection-slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section-capture {
  margin-bottom: 80px;
}

.section-title {
  text-align: center;
}

.section-title h2 {
  font-size: 30px;
  line-height: 1;
  font-weight: 600;
  text-transform: capitalize;
  font-family: Josefin Sans, sans-serif;
}

.section-title-ptn {
  position: relative;
  margin-top: 0;
  width: 120px;
  display: inline-block;
}

.section-title span.section-title-ptn:after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  width: 120px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/product-logo.png");
  background-color: transparent;
}

.single-product-wrap .product-image {
  position: relative;
  overflow: hidden;
  display: flex;
}

.single-product-wrap .product-image a.pro-img .img1,
.single-product-wrap .product-image a.pro-img .img2 {
  background-color: #fff;
  transition: all 0.5s ease-in-out 0s;
  width: 383px;
  height: 412px;
}

.single-product-wrap .product-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 25px;
}

.product-content .product-title {
  display: block;
  width: 100%;
  text-transform: capitalize;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.product-content .product-title a {
  font-size: 20px;
  display: block;
  width: 100%;
  font-weight: 500;
  text-transform: capitalize;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: Josefin Sans, sans-serif;
}

.single-product-wrap .product-content .price-box {
  margin-top: 8px;
  align-items: center;
  justify-content: center;
}

.single-product-wrap .product-content .price-box .new-price,
.single-product-wrap .product-content .price-box .old-price {
  font-size: 16px;
}

/* About Section  */

.custom-about-feature {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f5f0ea;
}

/* images content css */
.custom-about-feature .custom-text-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.custom-about-feature .custom-text-banner > a {
  height: 100%;
}

.custom-about-feature .custom-text-banner > a img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* feature content css */
.custom-feature-content {
  display: flex;
  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.custom-feature-content .text-feature-wrap {
  margin-left: 60px;
}

.text-feature-wrap .text-feature h2 {
  font-size: 40px;
  line-height: 1.2;
  font-family: "Josefin Sans", sans-serif;
}

.text-feature-wrap .text-feature ul {
  margin-top: 30px;
}

.text-feature-wrap .text-feature div {
  margin-top: 30px;
  padding-left: 100px;
  position: relative;
  padding: 0;
}

.text-feature-wrap .text-feature .text-feature--desc {
  font-size: 14px;
  margin-top: 4px;
  position: relative;
}

/* Video Banner  */
.video-banner {
  padding-top: 100px;
  padding-bottom: 100px;
}

.video-banner .banner-block img {
  border-radius: 15px;
}

.video-banner a.play-button:after,
.video-banner a.play-button:before {
  position: absolute;
  content: "";
  border-radius: 50%;
  background-clip: border-box;
  border: 1px solid #fff;
  position: absolute;
  top: -20px;
  right: -20px;
  bottom: -20px;
  left: -20px;
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
  transition: all 0.2s ease;
  pointer-events: none;
}

.video-banner a.play-button:after {
  left: -10px;
  top: -10px;
  right: -10px;
  bottom: -10px;
}

.video-banner .banner-block:hover a.play-button:after {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.video-banner .banner-block:hover a.play-button:before {
  left: -10px;
  top: -10px;
  bottom: -10px;
  right: -10px;
}

/* section title css */
.video-banner .video-title h2 {
  font-size: 40px;
  text-transform: capitalize;
  color: #275c53;
  line-height: 1;
  font-family: "Josefin Sans", sans-serif;
}

.video-banner .video-title h2 span:first-child {
  margin-top: 0;
  line-height: 1.2;
}

.video-banner .video-title h2 span {
  margin-top: 10px;
  display: block;
}

.video-banner .video-title h2 span:last-child {
  font-size: 24px;
  line-height: 1.4;
  margin-top: 15px;
}

/* features css */
.video-banner .text-block {
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  margin-right: 60px;
}

.video-banner ul.features-wrap {
  margin-top: 20px;
}

.video-banner ul.features-wrap li.features-wrapper {
  margin-top: 18px;
}

.video-banner ul.features-wrap li.features-wrapper:first-child {
  margin-top: 0px;
}

.video-banner ul.features-wrap li.features-wrapper p {
  font-size: 16px;
  position: relative;
  line-height: 1.8;
}

.video-banner .text-block a.btn {
  margin-top: 30px;
}

/* icon css */
.video-banner a.play-button {
  font-size: 24px;
  color: #275c53;
  line-height: 1;
  position: absolute;
  right: 50%;
  z-index: 1;
  bottom: 50%;
  transform: translate(50%, 50%);
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 65px;
  border-radius: 100%;
  transition: none;
  box-shadow: rgb(0 0 0 / 10%) 0px 15px 40px 0px;
}

/* magificant css */
.mfp-container.mfp-iframe-holder {
  width: auto;
  left: 15px;
  right: 15px;
}

.mfp-iframe-holder .mfp-content {
  max-width: 700px;
}

.mfp-iframe-holder .mfp-close {
  display: block !important;
  font-size: 30px;
  padding: 0;
  height: auto;
  width: auto;
  position: absolute;
  top: -30px;
  right: 0;
  opacity: 1;
  background-color: transparent !important;
  line-height: 1;
}

.mfp-iframe-scaler iframe {
  border: none;
}

.btn-style2-medium,
.btn-style2 {
  background-color: #e2bb53;
  border: 2px solid #e2bb53;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn-style2-medium {
  color: #fff;
  font-size: 16px;
  padding: 15px 40px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border-radius: 0;
  line-height: 1;
}

.btn-style2-medium:hover,
.btn-style2:hover {
  background-color: #275c53;
  border: 2px solid #275c53;
}

.btn-style2-medium:hover {
  color: #fff;
}

/* testimonial  */
.testimonial-area {
  background-image: url("../images/testimonial-bg.png");
}
/* content position */
.testimonial-area .texti-box {
  text-align: center;
  width: 700px;
  margin: 0 auto;
}

.testimonial-area .texti-box .testi-img img {
  border-radius: 100%;
}

.testimonial-area .testi-content {
  margin-top: -9px;
}

.testimonial-area .testi-content span.quot-icon {
  color: #275c53;
  font-size: 20px;
  line-height: 1;
  position: absolute;
  top: 0;
  right: 0;
  left: 70px;
  text-align: center;
  margin: 0 auto;
  width: 30px;
  height: 30px;
  background: #e2bb53;
  border-radius: 50%;
  line-height: 30px;
  font-size: 15px;
}

.testimonial-area .testi-content .testi-desc p {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  margin-top: 20px;
  line-height: 1.4;
}

.testimonial-area .texti-box .testi-author {
  margin-top: 20px;
}

.testimonial-area span.testi-img {
  margin-bottom: 25px;
}

.testimonial-area .testi-img img {
  width: 88px;
  height: 88px;
  object-fit: cover;
  margin: auto;
}

.testimonial-area .testi-title {
  font-size: 36px;
  color: #fff;
  margin-bottom: 30px;
  margin-top: 10px;
}

.testimonial-area .testi-sign-wrap {
  position: absolute;
  bottom: -20px;
  right: 0;
  left: 0;
  z-index: -9;
}

.testimonial-area .testi-sign img {
  width: 135px;
  text-align: center;
  margin: auto;
}

.testimonial-area .texti-box .testi-author h6 {
  font-size: 22px;
  text-transform: capitalize;
  line-height: 1;
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
}

.testimonial-area .texti-box .testi-author span.author-name {
  margin-top: 6px;
  font-size: 16px;
  text-transform: capitalize;
  line-height: 1;
  color: #ffff;
}

.testimonial-area h2.heading-home {
  color: #fff;
  font-size: 38px;
}

.testimonial-area {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* Home about section  */
.home-about {
  padding-top: 100px;
  padding-bottom: 0px;
}

.home-about .home-about-wrap {
  margin-top: 100px;
}

.home-about .home-about-wrap:first-child {
  margin-top: 0px;
}

.home-about .home-about-wrap.rowreverse {
  display: flex;
  flex-direction: row-reverse;
}

.home-about-txt {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-about .home-about-wrap.rowreverse .home-about-txt {
  padding-right: 30px;
}

.home-about .home-about-wrap.noreverse .home-about-txt {
  margin-left: 60px;
}

.home-about-txt .home-about-wrapper .section-title {
  text-align: left;
}

.home-about-txt label.home-about-label {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  font-family: "Josefin Sans", sans-serif;
}

.home-about-txt h2.home-about-texttl {
  font-size: 40px;
  line-height: 1;
  font-family: "Josefin Sans", sans-serif;
}

.home-about-txt h2.home-about-texttl span {
  display: block;
  font-size: 24px;
  line-height: 1.4;
  margin-top: 15px;
  color: #275c53;
}

.home-about-txt h2.home-about-texttl span:first-child {
  margin-top: 0;
  font-size: 40px;
  text-transform: capitalize;
  color: #275c53;
  line-height: 1.2;
  font-family: "Josefin Sans", sans-serif;
}

.home-about-txt p.home-about-texdes {
  font-size: 16px;
  position: relative;
  line-height: 1.8;
  margin-top: 20px;
}

.home-about-txt .home-about-btn {
  margin-top: 30px;
}

@media (max-width: 1199px) {
  .custom-about-feature {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .video-banner {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .video-banner .video-title h2 {
    font-size: 30px;
  }

  .video-banner .text-block {
    margin-right: 15px;
  }

  .video-banner ul.features-wrap {
    margin-top: 27px;
  }

  .video-banner ul.features-wrap li.features-wrapper p {
    font-size: 16px;
  }

  .video-banner .text-block a.btn {
    margin-top: 33px;
  }

  .video-banner .section-title h2 {
    font-size: 40px;
  }

  .video-banner ul.features-wrap li.features-wrapper {
    font-size: 16px;
    font-weight: 400;
    margin-top: 13px;
  }

  .testimonial-area {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .home-about {
    padding-top: 70px;
    padding-bottom: 0px;
  }

  .home-about .home-about-wrap {
    margin-top: 70px;
  }

  .home-about .home-about-wrap.noreverse .home-about-txt {
    margin-left: 15px;
  }

  .home-about-txt h2.home-about-texttl {
    font-size: 30px;
  }

  .home-about-txt p.home-about-texdes {
    font-size: 14px;
    margin-top: 27px;
  }

  .home-about-txt .home-about-btn {
    margin-top: 31px;
  }
}

@media (max-width: 992px) {
  .video-banner .banner-block {
    padding-top: 30px;
  }

  .collection-slider .item {
    margin-right: 0px !important;
  }

  .custom-feature-content .text-feature-wrap {
    margin-left: 0px;
    margin-top: 24px;
  }
}

@media (max-width: 991px) {
  .video-banner .video-title h2 {
    font-size: 24px;
  }

  .video-banner ul.features-wrap {
    margin-top: 18px;
  }

  .video-banner .text-block a.btn {
    margin-top: 22px;
  }

  .video-banner ul.features-wrap li.features-wrapper p {
    font-size: 14px;
  }

  .video-banner a.play-button {
    font-size: 20px;
    width: 60px;
    height: 60px;
  }

  .video-banner .section-title h2 {
    font-size: 30px;
  }

  .video-banner ul.features-wrap li.features-wrapper {
    font-size: 14px;
  }

  .home-about-txt h2.home-about-texttl {
    font-size: 24px;
  }

  .home-about-txt .home-about-btn {
    margin-top: 22px;
  }

  .home-about-txt p.home-about-texdes {
    margin-top: 18px;
  }
}

@media (max-width: 767px) {
  .breadcrumb-area {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .custom-about-feature {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .video-banner {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .video-banner .text-block {
    margin-right: 0px;
  }

  .video-banner .section-title h2 {
    font-size: 24px;
  }

  .mfp-iframe-holder .mfp-content {
    max-width: 100%;
  }

  .testimonial-area .texti-box {
    margin: 0;
  }

  .testimonial-area .texti-box .testi-content {
    padding-left: 0px;
    padding-top: 30px;
  }

  .testimonial-area .texti-box .testi-author h6 {
    font-size: 16px;
  }

  .testimonial-area .testi-content .testi-desc p,
  .testimonial-area .texti-box .testi-author span.author-name {
    font-size: 14px;
  }

  .testimonial-area {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .home-about {
    padding-top: 50px;
    padding-bottom: 0px;
  }

  .home-about .home-about-wrap {
    margin-top: 50px;
  }

  .home-about-txt {
    padding-top: 30px;
  }

  .home-about .home-about-wrap.noreverse .home-about-txt {
    margin-left: 0px;
  }

  .home-about .home-about-wrap.rowreverse {
    flex-direction: column-reverse;
  }

  .home-about .home-about-wrap.rowreverse .home-about-txt {
    padding-right: 0;
  }

  .home-about-txt h2.home-about-texttl {
    font-size: 24px;
  }
}
