.page-wrapper *:focus, .ui-dialog *:focus {
    outline: unset;
    box-shadow: unset;
}

.view-frontpage .views-view-grid .views-col{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding: 16px;
}

.view-frontpage .views-view-grid .views-col .views-field{
  margin-bottom: 16px;
}


/* status message list  */
.messages-list.healthheaven .messages{
  background-color: #e2bb53;
}

.messages-list.healthheaven .messages p{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
}

.messages-list.healthheaven .messages .messages__content .placeholder{
  background-color: unset;
  color: #ffffff;
  opacity: unset;
  vertical-align: unset;
}

.messages-list.healthheaven .messages .messages__content .placeholder a{
  text-decoration: none;
  color: #ffffff;
}


