body {
    font-size: 14px;
    background-color: #fff;
    color: #222;
    font-weight: 400;
    line-height: normal;
    letter-spacing: normal;
    font-family: Open Sans,sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
    margin: 0;
    padding: 0;
    font-weight: 600;
    line-height: normal;
    font-family: Josefin Sans,sans-serif;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: #333;
    display: inline-block;
    text-decoration: none;
    transition: all .3s ease-in-out 0s;
}

a:hover{
    color: #275c53;
}

p {
    line-height: 25px;
    margin-bottom: 0;
    margin: 0 0 15px;
}

form {
    margin-bottom: 0;
}

input{
    border: 1px solid #e5e5e5;
    max-width: 100%;
    padding: 8px 10px;
    border-radius: 3px;
}

input, select, textarea {
    padding: 15px;
    border: 1px solid #e2e2e2;
    font-weight: 400;
    border-radius: 0;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.btn, input[type="submit"] {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

input[type="submit"]{
    color: #fff;
    padding: 5px 10px;
    background-color: #275c53;
    border: 1px solid #275c53;
    text-transform: capitalize;
}

input[type="submit"]:hover{
    color: #275c53;
    background-color: #fff;
}

.form-check-input:checked {
    background-color: #275c53;
    border-color: #275c53;
}

summary.claro-details__summary:hover {
    color: #275c53;
    background-color: #f0f5fd;
}

blockquote {
    font-size: 1.125em;
    line-height: 1.45;
    font-style: italic;
    margin: 0 0 30px;
    padding: 15px 30px;
    border-left: 1px solid #e5e5e5;
}