{% if aboutus_image|render or aboutus_heading|render or aboutus_desc|render %}
<section class="custom-about-feature">
	<div class="container">
		<div class="row">
			<div class="col-xl-6 col-lg-6 col-12 custom-feature-banner">
				{% if aboutus_image %}
					<div class="custom-text-banner">
						<img src="{{aboutus_image}}" alt="Example">
					</div>
				{% endif %}
			</div>
			<div class="col-xl-6 col-lg-6 col-12 custom-feature-content">
				<div class="text-feature-wrap">
					<div class="text-feature">
						{% if aboutus_heading %}
							<h2>{{aboutus_heading}}</h2>
						{% endif %}
						{% if aboutus_desc %}
							<div class="text-feature--desc">{{aboutus_desc}}</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endif %}