{% if banner_right_image|render or banner_right_btntext|render or banner_right_heading|render%}
<div class="banner-block h-100">
	{% if banner_right_image %}
		<img class="img-fluid" src="{{banner_right_image}}">
	{% endif %}
	<div class="banner-content banner-text-left banner-content-left">
		{% if banner_right_heading %}
			<h2>{{banner_right_heading}}</h2>
		{% endif %}
		{% if banner_right_btntext %}
			<a class="btn btn-style2" href="{{banner_right_btnurl}}">{{banner_right_btntext}}</a>
		{% endif %}
	</div>
</div>
{% endif %}