{% if banner_left_image|render or banner_btntext|render %}
	<div class="banner-block h-100">
		{% if banner_left_image %}
			<img class="img-fluid" src="{{banner_left_image}}">
		{% endif %}
		<div class="banner-content banner-text-left banner-content-left">
			{% if banner_left_heading %}
				<h2>{{banner_left_heading}}</h2>
			{% endif %}
			{% if banner_btntext %}
				<a class="btn btn-style2" href="{{banner_btnurl}}">{{banner_btntext}}</a>
			{% endif %}
		</div>
	</div>
{% endif %}
