{% if page.footer_logo is empty %}
	<div
		class="content-section">
		<!-- our-brand-area start -->
		<section class="our-brand-logo">
			<div class="container">
				<div class="row">
					<div class="col branlogo-wrap">
						<div class="brand-logo" id="brand-logo">
							{% if footer_logo1 %}
								<div class="owl-item active" style="width: 218px; margin-right: 30px;">
									<div class="item">
										<div class="brand-img">

											<img class="img-fluid" src="{{ footer_logo1 }}" alt="">

										</div>
									</div>
								</div>
							{% endif %}
							{% if footer_logo2 %}
								<div class="owl-item active" style="width: 218px; margin-right: 30px;">
									<div class="item">
										<div class="brand-img">

											<img class="img-fluid" src="{{ footer_logo2 }}" alt="">

										</div>
									</div>
								</div>
							{% endif %}
							{% if footer_logo3 %}
								<div class="owl-item active" style="width: 218px; margin-right: 30px;">
									<div class="item">
										<div class="brand-img">

											<img class="img-fluid" src="{{ footer_logo3 }}" alt="">

										</div>
									</div>
								</div>
							{% endif %}
							{% if footer_logo4 %}
								<div class="owl-item active" style="width: 218px; margin-right: 30px;">
									<div class="item">
										<div class="brand-img">

											<img class="img-fluid" src="{{ footer_logo4 }}" alt="">

										</div>
									</div>
								</div>
							{% endif %}
							{% if footer_logo5 %}
								<div class="owl-item active" style="width: 218px; margin-right: 30px;">
									<div class="item">
										<div class="brand-img">

											<img class="img-fluid" src="{{ footer_logo5 }}" alt="">

										</div>
									</div>
								</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- our-brand-area end -->
	</div>
{% else %}
	{{page.footer_logo}}
{% endif %}
