{% if hero_banner_image|render or hero_banner_heading|render or hero_banner_desc|render %}
<section class="hero-section">
	<div class="home-section">
		<div class="main_image">
			{% if hero_banner_image %}
				<img src="{{hero_banner_image}}">
			{% endif %}
			<div class="slider-text-info">
				{% if hero_banner_subheading %}
					<span class="sub-heading">{{hero_banner_subheading}}</span>
				{% endif %}
				{% if hero_banner_heading or hero_banner_desc %}
					<h2>
						<span>{{hero_banner_heading}}</span>
						<span></span><br>
						<span>{{hero_banner_desc}}</span>
					</h2>
				{% endif %}
				{% if button_text %}
					<div class="hero_btn">
						<a class="btn btn-style3" href="{{button_url}}">{{button_text}}</a>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</section>
{% endif %}