{% if blog_banner_image or blog_heading or blog_subheading or blog_desc %}
<section class="home-about">
	<div class="container">
		<div class="row home-about-wrap noreverse ">
			{% if blog_banner_image %}
				<div class="col-xl-6 col-lg-6 col-md-12 col-12">
					<div class="home-about-sideimg banner-hover">
						<img src="{{blog_banner_image}}">
					</div>
				</div>
			{% endif %}
			<div class="col-xl-6 col-lg-6 col-md-12 col-12">
				<div class="home-about-txt">
					<div class="home-about-wrapper">
						{% if blog_heading or blog_subheading %}
							<h2 class="home-about-texttl">
								<span>{{blog_heading}}</span>
								<span>{{blog_subheading}}</span>
							</h2>
						{% endif %}
						{% if blog_desc %}
							<p class="home-about-texdes">{{blog_desc}}</p>
						{% endif %}
						<div class="home-about-btn">
							<a href="/products/full-t-shirt-top" class="btn btn-style-medium">Shop Now</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endif %}