{% if product_image_1|render or card_title_1|render or card_price_1|render %}
	<div class="product-section">
		<section class="collection-category">
			<div class="container">
				<div class="row">
					<div class="col-xl-12 col-lg-12 col-md-12">
						<div class="section-capture">
							<div class="section-title">
								<h2>Medical Products</h2>
								<span class="section-title-ptn"></span>
							</div>
						</div>
						<div class="collection-slider">
							<div class="item" style="width: 383.333px; margin-right: 30px;">
								<div class="single-product-wrap">
									{% if product_image_1 %}
										<div class="product-image">
											<a class="pro-img">
												<img class="img-fluid img1" src="{{product_image_1}}">
											</a>
										</div>
									{% endif %}
									<div class="product-content">
										{% if card_title_1 %}
											<div class="product-title">
												<a href="{{card_link1}}" title="{{card_title_1}}">{{card_title_1}}</a>
											</div>
										{% endif %}
										{% if card_price_1 %}
											<div class="price-box">
												<span class="new-price">{{card_price_1}}</span>
											</div>
										{% endif %}
										<div class="product-ratting">
											<span class="spr-badge" id="spr_badge_6791669481634" data-rating="5.0">
												<span class="spr-starrating spr-badge-starrating">
													<i class="fa-solid fa-star" style="color: #ffb503;"></i>
													<i class="fa-solid fa-star" style="color: #ffb503;"></i>
													<i class="fa-solid fa-star" style="color: #ffb503;"></i>
													<i class="fa-solid fa-star" style="color: #ffb503;"></i>
													<i class="fa-solid fa-star" style="color: #ffb503;"></i>
												</span>
											</span>
										</div>
									</div>
								</div>
							</div>
							<div class="item" style="width: 383.333px; margin-right: 30px;">
								<div class="single-product-wrap">
									{% if product_image_2 %}
										<div class="product-image">
											<a class="pro-img">
												<img class="img-fluid img1" src="{{product_image_2}}">
											</a>
										</div>
									{% endif %}
									<div class="product-content">
										{% if card_title_2 %}
											<div class="product-title">
												<a href="{{card_link2}}" title="{{card_title_2}}">{{card_title_2}}</a>
											</div>
										{% endif %}
										{% if card_price_2 %}
											<div class="price-box">
												<span class="new-price">{{card_price_2}}</span>
											</div>
										{% endif %}
										<div class="product-ratting">
											<span class="spr-badge" id="spr_badge_6791669481634" data-rating="5.0">
												<span class="spr-starrating spr-badge-starrating">
													<i class="fa-solid fa-star" style="color: #ffb503;"></i>
													<i class="fa-solid fa-star" style="color: #ffb503;"></i>
													<i class="fa-solid fa-star" style="color: #ffb503;"></i>
													<i class="fa-solid fa-star" style="color: #ffb503;"></i>
													<i class="fa-solid fa-star" style="color: #ffb503;"></i>
												</span>
											</span>
										</div>
									</div>
								</div>
							</div>
							<div class="item" style="width: 383.333px; margin-right: 30px;">
								<div class="single-product-wrap">
									{% if product_image_3 %}
										<div class="product-image">
											<a class="pro-img">
												<img class="img-fluid img1" src="{{product_image_3}}">
											</a>
										</div>
									{% endif %}
									<div class="product-content">
										{% if card_title_3 %}
											<div class="product-title">
												<a href="{{card_link3}}" title="{{card_title_3}}">{{card_title_3}}</a>
											</div>
										{% endif %}
										{% if card_price_3 %}
											<div class="price-box">
												<span class="new-price">{{card_price_3}}</span>
											</div>
										{% endif %}
										<div class="product-ratting">
											<span class="spr-badge" id="spr_badge_6791669481634" data-rating="5.0">
												<span class="spr-starrating spr-badge-starrating">
													<i class="fa-solid fa-star" style="color: #ffb503;"></i>
													<i class="fa-solid fa-star" style="color: #ffb503;"></i>
													<i class="fa-solid fa-star" style="color: #ffb503;"></i>
													<i class="fa-solid fa-star" style="color: #ffb503;"></i>
													<i class="fa-solid fa-star" style="color: #ffb503;"></i>
												</span>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
{% endif %}
