{% if testimonial_title1 or testimonial_title2 or testimonial_title3 or testimonial_title4 %}
<section class="testimonial-area">
	<div class="container">
		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12 col-12">
				<div class="section-capture">
					<div class="section-title">
						<h2 class="heading-home">
							customers love
						</h2>
						<span class="section-title-ptn"></span>
					</div>
				</div>
				<div class="testimonial-wrap">
					<div class="testimonial-slider owl-carousel owl-theme" id="testimonial-slider">
					{% if testimonial_title1 or testimonial_desc1 or testimonial_author_name1 or testimonial_position_name1 %}
						<div class="item">
							<div class="texti-box">
								<span class="testi-img">
									<img class="img-fluid" src="">
								</span>
								<div class="testi-content">
									<span class="quot-icon">
										<i class="fa fa-quote-left"></i>
									</span>
									{% if testimonial_title1 %}
									<div class="testi-title">
										<p>{{testimonial_title1}}</p>
									</div>
									{% endif %}
									{% if testimonial_desc1 %}
									<div class="testi-desc">
										<p>{{testimonial_desc1}}</p>
									</div>
									{% endif %}
									{% if testimonial_author_name1 or testimonial_position_name1 %}
									<div class="testi-author">
										<h6>{{testimonial_author_name1}}</h6>
										<span class="author-name">{{testimonial_position_name1}}</span>
									</div>
									{% endif %}
								</div>
							</div>
						</div>
					{% endif %}
					{% if testimonial_title2 or testimonial_desc2 or testimonial_author_name2 or testimonial_position_name2 %}
						<div class="item">
							<div class="texti-box">
								<span class="testi-img">
									<img class="img-fluid" src="">
								</span>
								<div class="testi-content">
									<span class="quot-icon">
										<i class="fa fa-quote-left"></i>
									</span>
									{% if testimonial_title2 %}
									<div class="testi-title">
										<p>{{testimonial_title2}}</p>
									</div>
									{% endif %}
									{% if testimonial_desc2 %}
									<div class="testi-desc">
										<p>{{testimonial_desc2}}</p>
									</div>
									{% endif %}
									{% if testimonial_author_name2 or testimonial_position_name2 %}
									<div class="testi-author">
										<h6>{{testimonial_author_name2}}</h6>
										<span class="author-name">{{testimonial_position_name2}}</span>
									</div>
									{% endif %}
								</div>
							</div>
						</div>
					{% endif %}
					{% if testimonial_title3 or testimonial_desc3 or testimonial_author_name3 or testimonial_position_name3 %}
						<div class="item">
							<div class="texti-box">
								<span class="testi-img">
									<img class="img-fluid" src="">
								</span>
								<div class="testi-content">
									<span class="quot-icon">
										<i class="fa fa-quote-left"></i>
									</span>
									{% if testimonial_title3 %}
									<div class="testi-title">
										<p>{{testimonial_title3}}</p>
									</div>
									{% endif %}
									{% if testimonial_desc3 %}
									<div class="testi-desc">
										<p>{{testimonial_desc3}}</p>
									</div>
									{% endif %}
									{% if testimonial_author_name3 or testimonial_position_name3 %}
									<div class="testi-author">
										<h6>{{testimonial_author_name3}}</h6>
										<span class="author-name">{{testimonial_position_name3}}</span>
									</div>
									{% endif %}
								</div>
							</div>
						</div>
					{% endif %}
					{% if testimonial_title4 or testimonial_desc4 or testimonial_author_name4 or testimonial_position_name4 %}
						<div class="item">
							<div class="texti-box">
								<span class="testi-img">
									<img class="img-fluid" src="">
								</span>
								<div class="testi-content">
									<span class="quot-icon">
										<i class="fa fa-quote-left"></i>
									</span>
									{% if testimonial_title4 %}
									<div class="testi-title">
										<p>{{testimonial_title4}}</p>
									</div>
									{% endif %}
									{% if testimonial_desc4 %}
									<div class="testi-desc">
										<p>{{testimonial_desc4}}</p>
									</div>
									{% endif %}
									{% if testimonial_author_name4 or testimonial_position_name4 %}
									<div class="testi-author">
										<h6>{{testimonial_author_name4}}</h6>
										<span class="author-name">{{testimonial_position_name}}</span>
									</div>
									{% endif %}
								</div>
							</div>
						</div>
					{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endif %}