{% if videobanner_heading|render  or videobanner_subheading|render or videobanner_desc|render or videobanner_btntext|render %}
	<section class="video-banner">
		<div class="container">
			<div class="row">
				<div class="col-xl-6 col-lg-6 col-12">
					<div class="text-block">
						{% if videobanner_heading or videobanner_subheading %}
							<div class="video-title">
								<h2>
									<span>{{videobanner_heading}}</span>
									<span>{{videobanner_subheading}}</span>
								</h2>
							</div>
						{% endif %}
						<ul class="features-wrap">
							{% if videobanner_desc %}
								<li class="features-wrapper">
									<p>{{videobanner_desc}}</p>
								</li>
							{% endif %}
						</ul>
						{% if videobanner_btnurl or videobanner_btntext %}
							<a href="{{videobanner_btnurl}}" class="btn btn-style2-medium">{{videobanner_btntext}}</a>
						{% endif %}
					</div>
				</div>
				<div class="col-xl-6 col-lg-6 col-12">
					<div class="banner-block">
						{% if video_banner_image %}
							<img src="{{video_banner_image}}">
						{% endif %}

						{% if videobanner_youtube %}
							<a class="play-button popup-youtube" data-fancybox="gallery" href="{{videobanner_youtube}}">
								<i class="fa fa-play"></i>
							</a>
						{% else %}
							<a class="play-button popup-youtube" data-fancybox="gallery" href="{{video_banner_video}}">
								<i class="fa fa-play"></i>
							</a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</section>
{% endif %}
