{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
	<nav class="breadcrumb breadcrumb-area" role="navigation" aria-labelledby="system-breadcrumb">
		<div class="container">
			<div class="row">
				<div class="col">
					<div></div>
					<h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
					<ol>
						{% for item in breadcrumb %}
							<li {{ item.attributes }}>
								{% if item.url %}
									<a href="{{ item.url }}">{{ item.text }}</a><span> - </span>
								{% else %}
									{{ item.text }}
								{% endif %}
							</li>
						{% endfor %}
					</ol>
				</div>
			</div>
		</div>
	</nav>
{% endif %}
