{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}

{% set hero_image = file_url(content.field_hero_image[0]['#markup']) %}

{% set sub_heading = content.field_sub_heading[0] %}

{% set heading = content.field_heading[0] %}

{% set body = content.field_body[0] %}

{% set button_url = content.field_button[0]['#url']|raw %}

{% set button_text = content.field_button[0]['#title'] %}

<section class="hero-section">
  <div class="home-section">
    <div class="main_image">
      <img src="{{hero_image}}">
      <div class="slider-text-info">
        <span class="sub-heading">{{sub_heading}}</span>
        <h2>
          <span>{{heading}}</span>
          <span></span><br>
          <span>{{body}}</span>
        </h2>
        <div class="hero_btn">
          <a class="btn btn-style3" href="{{content.field_button[0]['#url']|raw}}">{{content.field_button[0]['#title']}}</a>
        </div>
      </div>
    </div>
  </div>
</section>
