<div class="content-section">
	<!-- our-brand-area start -->
	<section class="our-brand-logo">
		<div class="container">
			<div class="row">
				<div class="col branlogo-wrap">
					{{content}}
				</div>
			</div>
		</div>
	</section>
	<!-- our-brand-area end -->
</div>
