{#
/**
 * @file
 * Claro's theme implementation to display a single Drupal page.
 *
 * The doctype, html, head, and body tags are not in this template. Instead
 * they can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.pre_content: Items for the pre-content region.
 * - page.breadcrumb: Items for the breadcrumb region.
 * - page.highlighted: Items for the highlighted region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div
	id="section_header">
	{#  Header  #}
	<div class="header">
		<div class="header_area container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-12">
					<div
						class="header_main">
						{#  Logo  #}
						<div class="site-branding">{{page.site_branding}}</div>
						{#  Navigation Links  #}
						<div class="header-element megamenu-content">
							{{page.navigation}}
						</div>
						{#  Menu bar icon  #}
						<div class="bar--logo">
							<i class="menu-bar fa-solid fa-bars"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
		{#  Navigation Links Mobile view  #}
		<div class="mobile_view">
			<i class="mobile_close fa-solid fa-xmark"></i>
			{{page.navigation}}
		</div>
	</div>
</div>
<div>{{page.breadcrumb}}</div>
<div class="layout-container">
	{{ page.hero_banner }}
	<main class="page-content clearfix" role="main">
		<div class="visually-hidden">
			<a id="main-content" tabindex="-1"></a>
		</div>
		{{ page.highlighted }}
		{% if page.help %}
			<div class="help">
				{{ page.help }}
			</div>
		{% endif %}
		{{ page.content }}
	</main>
</div>

{# Footer Section  #}
<div class="footer">
	<section class="footer-top-area">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-12 col-center">
					<div class="footer-list-wrap">
						<ul class="footer-list">
							<li class="ftlink-li footer-info">
								<div class="site-branding">{{page.site_branding}}</div>
								<p class="about-company">{{footer_desc}}</p>
								{{page.footer_desc}}
							</li>
							<li class="ftlink-li linklist">
								{{page.footer_links}}
							</li>
							<li class="ftlink-li newsletter">
								<h6>Subscribe Newsletter</h6>
								<div class="news-content">
									<form method="post" action="/contact#contact_form" id="contact_form" accept-charset="UTF-8" class="contact-form"><input type="hidden" name="form_type" value="customer"><input type="hidden" name="utf8" value="✓">
										<input type="hidden" name="contact[tags]" value="newsletter">
										<div class="subscribe-block">
											<input type="email" name="contact[email]" class="email mail" id="E-mail" value="" placeholder="Enter Your Email" autocapitalize="off" required="">
											<div class="email-submit">
												<button type="submit" class="btn btn-style-medium" name="commit" id="Subscribe">
													Subscribe
												</button>
											</div>
										</div>
									</form>
								</div>
								<a href="#" class="payment-icon">
									<img src="themes/custom/multi_purpose/images/p5.webp" class="img-fluid" alt="esrar-shop">
									<img src="themes/custom/multi_purpose/images/p1.webp" class="img-fluid" alt="esrar-shop">
									<img src="themes/custom/multi_purpose/images/p2.png" class="img-fluid" alt="esrar-shop">
									<img src="themes/custom/multi_purpose/images/p4.webp" class="img-fluid" alt="esrar-shop">
									<img src="themes/custom/multi_purpose/images/p3.webp" class="img-fluid" alt="esrar-shop">
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
